
html {
    scroll-behavior: smooth;
}

aside {
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    margin-bottom: 2px;
    margin-top: -12px;
}

aside > p {
    margin: .5rem;
}

footer {
    display: block;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--light);
}

footer a {
    color: rgb(44, 44, 44);
}

footer a:hover {
    text-decoration: none;
}

.gato-heading {
    margin-top: 20vh;
}

article {
    margin-top: -200px;
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 50px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

@media screen and (max-width: 760px)
{
    article {
        margin-top: -100px;
    }   /* Rédigez vos propriétés CSS ici */
}

header {
    margin-top: -100px;
}

nav {
    border-radius: 20px 0px 0px 20px;
    padding: 20px;
    background-color: rgb(44, 44, 44);
}

nav a {
    padding-right: 20px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    color: rgb(212, 212, 212);
}

#lead-time {
    margin-top: -20px;
    margin-bottom: 150px;
}

.card-etapes {
    display: flex;
    margin-bottom: -10px;
}

.card-etapes p {
    margin-left: 10px;
    margin-top: -3px;
    font-weight: bold;
}

.mb4>img {
    transition: ease-in-out 0.2s;
}

.mb-4>img:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}


#main_recette {
    padding-bottom: 0rem!important;
}